/* Shared-Components.css or your style file */
.slick-container {
  overflow: hidden;
}

.category-slider{
  overflow: hidden;
}

.category-slider:hover img{
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}